.panel-default {
    border: none;
}

.panel-default .panel-heading {
    background-color: cadetblue;
    border: none;
}

.panel-default .panel-heading .panel-title {
    color: white;
    font-size: x-large;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: white;
    background-color: transparent;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e114";
}

.badge-level {
    background-color: darkorange;
}

.badge-grade {
    background-color: darkgreen;
}

.header {
    font-size: larger;
    font-weight: bold;
}

.info {
    content: "\f059";
}

.info:hover {
    content: "\f059";
}